body {
  background-color: #583d72;
}

.heading {
  font-size: 4rem;
  text-align: center;
  background-color: #9f5f80;
}
.ques1 {
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  color: rgb(0, 255, 98);
  background-color: #74d3ff;
}

.ans1 {
  /* background-color: #ffc996;s */
}

footer {
  font-size: 2rem;
  background-color: #f2b4b4;
}
